<div class="container my-5">
    <h1 class="mb-4">Panel de Administración</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Estadísticas de Usuarios</div>
                <div class="card-body">
                    <p>Total de Usuarios: 2</p>
                    <p>Usuarios Activos: 1</p>
                    <p>Usuarios Inactivos: 0</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Estadísticas de Juegos</div>
                <div class="card-body">
                    <p>Total de Juegos: 12</p>
                    <p>Juegos Populares: 11</p>
                    <p>Juegos Recientes: 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Ingresos</div>
                <div class="card-body">
                    <p>Ingresos Totales: $23,000</p>
                    <p>Ingresos del Mes: $51,000</p>
                    <p>Ingresos del Día: $15,000</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Gestión de Usuarios</div>
                <div class="card-body">
                    <p>Administra los usuarios registrados en la plataforma.</p>
                    <a href="#" class="btn btn-primary w-100">Ir a Gestión de Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Gestión de Juegos</div>
                <div class="card-body">
                    <p>Administra los juegos disponibles en la plataforma.</p>
                    <a href="#" class="btn btn-primary w-100">Ir a Gestión de Juegos</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-3 p-2">
        <button id="signout" class="btn btn-primary w-100">Cerrar Sesión</button>
    </div>
</div>
