<div class="modal fade" id="recoveryModal" tabindex="-1" aria-labelledby="recoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recoveryModalLabel">Recuperar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-4 w-100 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email2" class="form-label">Correo Electrónico</label>
                        <input type="email" formControlName="email" class="form-control" id="email2" placeholder="Introduce tu email" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['email'].errors, 'is-valid': submitted && registerForm.controls['email'].valid }">
                        <div *ngIf="submitted && registerForm.controls['email'].errors" class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
                    </div>
                    <div *ngIf="registerApproved" class="alert alert-success mt-3" role="alert">
                        {{ registerApproved }}
                    </div>
                    <div *ngIf="registerFailed" class="alert alert-danger mt-3" role="alert">
                        {{ registerFailed }}
                      </div>
                    <button type="submit" class="btn btn-primary w-100">Recuperar</button>
                </form>
            </div>
        </div>
    </div>
</div>
