<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="welcome-text">
                <h2>Bienvenido a Rucasino</h2>
                <img src="assets/welcome.webp" alt="Bienvenida a Rucasino" class="welcome-image img-fluid">
                <p class="text-justify">Ingreso exclusivo para administradores</p>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="login-form">
                <h2>Iniciar Sesión</h2>
                <div class="alert d-none" role="alert"></div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-4 w-100 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Introduce tu email" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['email'].errors, 'is-valid': submitted && registerForm.controls['email'].valid }">
                        <div *ngIf="submitted && registerForm.controls['email'].errors" class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['password'].errors, 'is-valid': submitted && registerForm.controls['password'].valid }">
                        <div *ngIf="submitted && registerForm.controls['password'].errors" class="invalid-feedback">Por favor, ingrese su nombre completo.</div>
                    </div>
                    <div *ngIf="registerApproved" class="alert alert-success mt-3" role="alert">
                        {{ registerApproved }}
                    </div>
                    <div *ngIf="registerFailed" class="alert alert-danger mt-3" role="alert">
                        {{ registerFailed }}
                      </div>
                    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
